AI_FOCUS_ENV=development
AI_FOCUS_DATA_DIR=../.local/data
AI_FOCUS_DB_PATH=../.local/data/projects.json
AI_FOCUS_VIDEO_ROOT=../video
AI_FOCUS_EVIDENCE_SAMPLE_COUNT=3
AI_FOCUS_EVIDENCE_CLIP_SECONDS=3
AI_FOCUS_RETENTION_HOURS=24
